# {{role_name}}

A brief description of the role goes here.


## License
-------

BSD

## Author Information
------------------

This role is part of my personal ansible setup. You can find the main project [here](https://github.com/pinpox/ansible-main)
