# {{role_name}}

A brief description of the role goes here.

## Variables

| Variable | Default | Description |
|----------|---------|-------------|

## License

BSD

## Author Information

This role is part of my personal ansible setup. You can find the main project
[here](https://github.com/pinpox/ansible-main). Further information may or may
not be available on [my personal website](https://pablo.tools).
